<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<settings>
<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
	
<typeAliases>
<typeAlias type="com.recipetime.find.Model.Users" alias="user"/>
<typeAlias type="com.recipetime.find.Model.UserLoginState" alias="userloginstate"/>
<typeAlias type="com.recipetime.find.Model.Post" alias="post"/>
<typeAlias type="com.recipetime.find.Model.PostSequence" alias="postsequence"/>
<typeAlias type="com.recipetime.find.Model.Tag" alias="tag"/>
<typeAlias type="com.recipetime.find.Model.Ingredients" alias="ingredient"/>
<typeAlias type="com.recipetime.find.Model.CategoryItem" alias="categoryitem"/>
<typeAlias type="com.recipetime.find.Model.CategoryOption" alias="categoryoption"/>
<typeAlias type="com.recipetime.find.Model.Attachment" alias="attachment"/>
</typeAliases>
	
<mappers>
	<mapper resource="mapper/users/users.xml"/>
	<mapper resource="mapper/post/post.xml"/>
	<mapper resource="mapper/post/category.xml"/>
</mappers>

</configuration>